---
import { Icon } from "astro-icon/components";
import SBLink from "../SBLink.astro";

const { blok } = Astro.props;

const year = new Date().getFullYear();
---

<div class="container-main pt-70 md:pt-110">
    <div class="px-gutter mx-auto mb-80 flex flex-col md:w-10/12 md:flex-row">
        {
            blok.texte_contact && (
                <div class="font-lato w-full text-[2.8rem] leading-34 font-bold md:w-5/10 md:text-[3.6rem] md:leading-43">
                    {blok.texte_contact}
                </div>
            )
        }
        <div class="ml-auto flex w-full rotate-2 flex-col pt-45 md:w-4/10">
            {
                blok.lien_instagram_contact?.[0] && (
                    <SBLink
                        class="font-schoolbell flex items-center gap-18 text-[3.6rem] leading-57"
                        link={blok.lien_instagram_contact[0].lien}
                    >
                        <Icon name="instagram" class="size-36 shrink-0 text-[#D7D5C1]" />
                        {blok.lien_instagram_contact[0].texte}
                    </SBLink>
                )
            }
            {
                blok.lien_mail_contact?.[0] && (
                    <SBLink
                        class="font-schoolbell flex items-center gap-18 text-[3.6rem] leading-57"
                        link={blok.lien_mail_contact[0].lien}
                    >
                        <Icon name="mail" class="size-36 shrink-0 text-[#D7D5C1]" />
                        {blok.lien_mail_contact[0].texte}
                    </SBLink>
                )
            }
            {
                blok.lien_telephone_contact?.[0] && (
                    <SBLink
                        class="font-schoolbell flex items-center gap-18 text-[3.6rem] leading-57"
                        link={blok.lien_telephone_contact[0].lien}
                    >
                        <Icon name="phone" class="size-36 shrink-0 text-[#D7D5C1]" />
                        {blok.lien_telephone_contact[0].texte}
                    </SBLink>
                )
            }
        </div>
    </div>
    <div
        class="px-gutter mb-20 flex flex-col justify-between gap-10 text-[1.6rem] leading-19 text-[#7B7A74] md:flex-row"
    >
        <div>© {year} ▪ Lola Deviers</div>
        <div class="flex flex-col md:flex-row md:gap-20">
            <div>Design ▪ 3x7 Studio</div>
            <span class="hidden md:block">|</span>
            <div> Code ▪ Clément Lemoine</div>
        </div>
    </div>
</div>
