---
import { Icon } from "astro-icon/components";
import SBLink from "../SBLink.astro";
import Mark from "../Mark.astro";

const { blok } = Astro.props;

const year = new Date().getFullYear();
---

<div id="contact" class="container-main relative pt-70 md:pt-60">
    <div
        class="absolute top-0 -right-10 -left-10 h-30 origin-top-right rotate-2 border-t-4 border-t-black bg-white md:h-55"
    ></div>

    <div
        class="px-gutter mx-auto mb-80 flex flex-col md:mb-150 md:w-10/12 md:flex-row md:items-start"
    >
        {
            blok.texte_contact && (
                <div class="relative w-full text-[2.8rem] leading-34 font-semibold md:w-5/10 md:text-[3.6rem] md:leading-43">
                    {blok.texte_contact}
                    <Icon
                        name="deco/spring-arrow"
                        class="text-red deco-arrow absolute -right-80 -bottom-120 hidden h-auto w-200 lg:block"
                    />
                </div>
            )
        }
        <div class="ml-auto flex w-full rotate-2 flex-col items-start pt-45 md:w-4/10">
            {
                blok.lien_instagram_contact?.[0] && (
                    <SBLink
                        class="contact-item group font-schoolbell flex items-center gap-18 text-[3.6rem] leading-57"
                        link={blok.lien_instagram_contact[0].lien}
                    >
                        <Icon name="instagram" class="size-36 shrink-0 text-[#D7D5C1]" />
                        <div class="relative">
                            <Mark class="top-[5%] left-[-5%] -z-1 h-[90%] w-[110%]" />
                            {blok.lien_instagram_contact[0].texte}
                        </div>
                    </SBLink>
                )
            }
            {
                blok.lien_mail_contact?.[0] && (
                    <SBLink
                        class="contact-item group font-schoolbell flex items-center gap-18 text-[3.6rem] leading-57"
                        link={blok.lien_mail_contact[0].lien}
                    >
                        <Icon name="mail" class="size-36 shrink-0 text-[#D7D5C1]" />
                        <div class="relative">
                            <Mark class="top-[5%] left-[-5%] -z-1 h-[90%] w-[110%]" />
                            {blok.lien_mail_contact[0].texte}
                        </div>
                    </SBLink>
                )
            }
            {
                blok.lien_telephone_contact?.[0] && (
                    <SBLink
                        class="contact-item group font-schoolbell relative flex items-center gap-18 text-[3.6rem] leading-57"
                        link={blok.lien_telephone_contact[0].lien}
                    >
                        <Icon name="phone" class="size-36 shrink-0 text-[#D7D5C1]" />
                        <div class="relative">
                            <Mark class="top-[5%] left-[-5%] -z-1 h-[90%] w-[110%]" />
                            {blok.lien_telephone_contact[0].texte}
                        </div>
                    </SBLink>
                )
            }
        </div>
    </div>
    <div
        class="px-gutter mb-20 flex flex-col justify-between gap-10 text-[1.6rem] leading-19 text-[#7B7A74] md:flex-row"
    >
        <div>© {year} ▪ Lola Deviers</div>
        <div class="flex flex-col md:flex-row md:gap-20">
            <div>Design ▪ 3x7 Studio</div>
            <span class="hidden md:block">|</span>
            <div> Code ▪ Clément Lemoine</div>
        </div>
    </div>
</div>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { SplitText } from "gsap/SplitText";
    gsap.registerPlugin(ScrollTrigger, SplitText);

    const container = document.getElementById("contact");

    const init = () => {
        if (!container) return;
        const deco = container.querySelector(".deco-arrow")!;
        const items = container.querySelectorAll(".contact-item");

        const tlReveal = gsap
            .timeline({
                scrollTrigger: {
                    trigger: container,
                    start: "top 60%",
                },
            })
            .from(deco, {
                opacity: 0,
                y: 20,
                duration: 0.6,
                rotate: 10,
                transformOrigin: "top left",
                ease: "back.out",
            })
            .from(
                [...items].reverse(),
                {
                    opacity: 0,
                    y: 20,
                    stagger: 0.1,
                    duration: 0.4,
                    ease: "back.out",
                },
                "<+=0.2",
            );
    };

    init();
</script>
