---
import SBImage from "../SBImage.astro";

import { Icon } from "astro-icon/components";

import { hasRichTextContent } from "../../utils/richtext";
import { renderRichText, type SbBlokData } from "@storyblok/astro";

const { blok } = Astro.props;

//temp client duplicate to 8
blok.clients = [
    ...blok.clients,
    ...blok.clients,
    ...blok.clients,
    ...blok.clients,
    ...blok.clients,
    ...blok.clients,
    ...blok.clients,
    ...blok.clients,
];
---

<div class="container-main px-gutter relative pt-50 pb-120 lg:pt-110 lg:pb-210">
    <div
        class="absolute top-0 -right-10 -left-10 h-30 origin-top-right rotate-2 border-t-4 border-t-black bg-white md:h-55"
    ></div>
    <div class="mx-auto flex w-full flex-col gap-50 sm:w-10/12 lg:gap-90">
        <div
            class="flex w-full flex-col-reverse items-center gap-40 lg:flex-row lg:items-start lg:justify-between lg:gap-0"
        >
            <div class="w-full lg:w-1/2">
                {
                    blok.titre_infos && (
                        <div>
                            <h2 class="font-schoolbell text-red relative inline-block -rotate-2 text-[3.4rem] md:text-[4.8rem]">
                                {blok.titre_infos}
                            </h2>
                        </div>
                    )
                }
                {
                    hasRichTextContent(blok.texte_1_infos) && (
                        <div class="mt-40 w-full" set:html={renderRichText(blok.texte_1_infos)} />
                    )
                }
            </div>
            {
                blok.image_1_infos && (
                    <SBImage
                        class="w-full max-w-250 lg:w-4/10 lg:max-w-none"
                        image={blok.image_1_infos}
                    />
                )
            }
        </div>
        <div
            class="flex w-full flex-col items-center gap-40 lg:flex-row lg:items-start lg:justify-between lg:gap-0"
        >
            {
                blok.image_2_infos && (
                    <SBImage
                        class="w-full max-w-250 lg:w-4/10 lg:max-w-none"
                        image={blok.image_2_infos}
                    />
                )
            }
            <div class="relative w-full lg:w-1/2">
                {
                    hasRichTextContent(blok.texte_2_infos) && (
                        <div set:html={renderRichText(blok.texte_2_infos)} />
                    )
                }
                <Icon
                    name="deco/dotted-line"
                    class="text-red absolute -top-60 -left-220 hidden h-auto w-360 scale-x-[-1] rotate-[-60deg] xl:block"
                />
            </div>
        </div>
    </div>
    {
        blok.clients.length && (
            <div class="mx-auto mt-70 flex w-10/12 flex-wrap items-center justify-center gap-40 lg:mt-140">
                {blok.clients.map((client: SbBlokData) => (
                    <SBImage
                        class="h-60 w-[calc(50%-40px)] object-contain sm:w-[calc(33.333%-40px)] lg:w-[calc(20%-40px)]"
                        image={client}
                    />
                ))}
            </div>
        )
    }
</div>
