---
import SBImage from "../SBImage.astro";

import { hasRichTextContent } from "../../utils/richtext";
import { renderRichText, type SbBlokData } from "@storyblok/astro";
import { Icon } from "astro-icon/components";

import Bandeau from "./Bandeau.astro";

const { blok } = Astro.props;
---

<div
    id="prestations"
    class="container-main bg-blue relative bg-[url('/src/assets/grid.svg')] bg-size-[1440px] bg-top bg-repeat pt-110 pb-80 text-white md:pt-200 md:pb-210 2xl:bg-size-[100%]"
>
    <Icon name="deco/dotted-line" class="absolute top-250 -left-180 hidden h-auto w-430 md:block" />
    <Icon
        name="deco/dotted-line"
        class="absolute top-680 -right-180 hidden h-auto w-430 md:block"
    />
    <Icon
        name="deco/double-line"
        class="absolute bottom-300 -left-160 hidden h-auto w-330 md:block"
    />
    <Icon
        name="deco/wave"
        class="absolute -right-10 -bottom-180 hidden h-auto w-210 scale-x-[-1] md:block"
    />

    <Bandeau number="4" word="Prestations" class="absolute -top-65 left-0 -rotate-2">
        <Icon name="star" class={`w-35 h-50 md:w-41 md:h-58 text-blue`} />
    </Bandeau>
    <div class="mx-auto flex w-full flex-col items-center md:w-10/12">
        {
            blok.image_prestations && (
                <div class="px-gutter w-full md:w-6/10">
                    <SBImage class="w-full" image={blok.image_prestations} />
                </div>
            )
        }
        {
            blok.titre_prestations && (
                <h2 class="font-schoolbell px-gutter relative mt-40 inline-block w-full rotate-2 text-center text-[3.4rem] leading-37 md:mt-80 md:text-[4.4rem] md:leading-61 lg:w-4/10">
                    {blok.titre_prestations}
                </h2>
            )
        }
        {
            blok.prestations.length > 0 && (
                <div class="px-gutter font-lato mt-36 flex w-full flex-col gap-10 text-center text-[3.8rem] leading-46 font-bold md:mt-80 md:gap-0 md:text-[7rem] md:leading-84">
                    {blok.prestations.map((prestation: SbBlokData) => (
                        <div>{prestation.text}</div>
                    ))}
                </div>
            )
        }

        <Icon name="deco/polar-star" class="mt-60 h-auto w-160 md:mt-80" />

        {
            hasRichTextContent(blok.texte_prestations) && (
                <div
                    class="px-gutter mt-64 w-full text-center text-[2rem] leading-24 font-normal md:w-8/10 md:text-[3rem] md:leading-36 [&_p:not(:last-child)]:mb-30"
                    set:html={renderRichText(blok.texte_prestations)}
                />
            )
        }
        {
            blok.titre_bas_prestations && (
                <h3 class="font-schoolbell mt-50 rotate-2 text-center text-[3.4rem] leading-47 md:mt-60 md:text-[4.4rem] md:leading-61">
                    {blok.titre_bas_prestations}
                </h3>
            )
        }
    </div>
</div>
