---
import SBImage from "../SBImage.astro";

import { hasRichTextContent } from "../../utils/richtext";
import { renderRichText, type SbBlokData } from "@storyblok/astro";
import { Icon } from "astro-icon/components";

import Bandeau from "./Bandeau.astro";

const { blok } = Astro.props;
---

<div
    id="prestations"
    class="container-main bg-blue relative bg-[url('/src/assets/grid.svg')] bg-size-[1440px] bg-top bg-repeat pt-110 pb-80 text-white md:pt-200 md:pb-210 2xl:bg-size-[100%]"
>
    <Icon name="deco/dotted-line" class="absolute top-250 -left-180 hidden h-auto w-430 md:block" />
    <Icon
        name="deco/dotted-line"
        class="absolute top-680 -right-180 hidden h-auto w-430 md:block"
    />
    <Icon
        name="deco/double-line"
        class="absolute bottom-300 -left-160 hidden h-auto w-330 md:block"
    />
    <Icon
        name="deco/wave"
        class="absolute -right-10 -bottom-180 hidden h-auto w-210 scale-x-[-1] md:block"
    />

    <!-- TODO: decrease speed of bandeau -->
    <Bandeau number="4" word="Prestations" class="absolute -top-65 left-0 -rotate-2">
        <Icon name="star" class={`w-35 h-50 md:w-41 md:h-58 text-blue`} />
    </Bandeau>
    <div class="mx-auto flex w-full flex-col items-center md:w-10/12">
        {
            blok.image_prestations && (
                <div class="prestations-img px-gutter w-full md:w-6/10">
                    <SBImage class="w-full" image={blok.image_prestations} />
                </div>
            )
        }
        {
            blok.titre_prestations && (
                <h2 class="prestations-title font-schoolbell px-gutter relative mt-40 inline-block w-full rotate-2 text-center text-[3.4rem] leading-37 md:mt-80 md:text-[4.4rem] md:leading-61 lg:w-6/10">
                    {blok.titre_prestations}
                </h2>
            )
        }
        {
            blok.prestations.length > 0 && (
                <div class="px-gutter mt-36 flex w-full flex-col gap-10 text-center text-[3.8rem] leading-46 font-bold md:mt-80 md:gap-0 md:text-[6.5rem] md:leading-76">
                    {blok.prestations.map((prestation: SbBlokData) => (
                        <div class="prestations-item">{prestation.text}</div>
                    ))}
                </div>
            )
        }

        <Icon name="deco/polar-star" class="mt-60 h-auto w-160 md:mt-80" />

        {
            hasRichTextContent(blok.texte_prestations) && (
                <div
                    class="px-gutter mt-64 w-full text-center text-[2rem] leading-24 font-normal md:w-8/10 md:text-[3rem] md:leading-36 [&_p:not(:last-child)]:mb-30"
                    set:html={renderRichText(blok.texte_prestations)}
                />
            )
        }
        {
            blok.titre_bas_prestations && (
                <h3 class="font-schoolbell mt-50 rotate-2 text-center text-[3.4rem] leading-47 md:mt-60 md:text-[4.4rem] md:leading-61">
                    {blok.titre_bas_prestations}
                </h3>
            )
        }
    </div>
</div>
<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { SplitText } from "gsap/SplitText";
    gsap.registerPlugin(ScrollTrigger, SplitText);

    const container = document.getElementById("prestations");

    const init = () => {
        if (!container) return;
        initTitleReveal();
        initImgReveal();
        initItemsReveal();
    };

    const initItemsReveal = () => {
        const items = container!.querySelectorAll(".prestations-item");
        const tlReveal = gsap.timeline({
            scrollTrigger: {
                trigger: items[0],
                start: "top 80%",
            },
        });
        tlReveal.from(items, {
            opacity: 0,
            y: 20,
            stagger: 0.2,
            duration: 0.6,
            ease: "power4.out",
        });
    };

    const initTitleReveal = () => {
        const title = container!.querySelector(".prestations-title");
        if (!title) return;
        const split = new SplitText(title, { type: "words" });

        const tlReveal = gsap.timeline({
            scrollTrigger: {
                trigger: title,
                start: "top 85%",
            },
        });
        tlReveal.from(split.words, {
            opacity: 0,
            y: 20,
            stagger: 0.1,
            duration: 0.8,
            ease: "power4.out",
        });
    };

    const initImgReveal = () => {
        const img = container!.querySelector(".prestations-img");
        const tlReveal = gsap
            .timeline({
                scrollTrigger: {
                    trigger: img,
                    start: "top 85%",
                },
            })
            .from(img, {
                opacity: 0,
                scale: 0.8,
                duration: 0.6,
                ease: "power3.out",
            });
    };

    init();
</script>
