---
import type { SbBlokData } from "@storyblok/astro";
import ProjetCard from "./ProjetCard.astro";

import { Icon } from "astro-icon/components";

import Bandeau from "./Bandeau.astro";

import Mark from "../Mark.astro";

const { blok } = Astro.props;

const projets = [
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
];

const categories = Array.from(new Set(projets.map((project: any) => project.content?.categorie)));
---

<div id="projets" class="container-main relative pt-90 pb-110 md:pt-180 md:pb-210">
    <Bandeau direction="left" word="Work" class="absolute -top-65 left-0 rotate-2">
        <Icon name="crown" class={`w-41 h-31 md:w-68 md:h-52`} />
    </Bandeau>
    <div class="px-gutter mx-auto flex w-full flex-col items-center md:w-10/12">
        {
            blok.titre_projets && (
                <h2 class="font-lato text-center text-[3.8rem] leading-46 font-bold md:text-[5.4rem] md:leading-65">
                    {blok.titre_projets}
                </h2>
            )
        }
        {
            blok.sous_titre_projets && (
                <p class="font-schoolbell -rotate-2 text-center text-[3.4rem] leading-37 md:text-[4.4rem] md:leading-61">
                    {blok.sous_titre_projets}
                </p>
            )
        }
        <div class="mt-50 hidden gap-20 md:flex">
            <button
                data-category="all"
                data-selected="true"
                class="category-button data-[selected=true]:text-red ease-bounce group relative border-2 border-current px-20 py-10 text-[1.6rem] leading-19 font-bold text-black uppercase transition-all duration-300 data-[selected=true]:-rotate-5"
            >
                Tout
                <Mark class="top-[-10%] left-[-15%] -z-1 h-[120%] w-[130%]" />
            </button>
            {
                categories.length > 0 &&
                    categories.map((category) => (
                        <button
                            data-category={category}
                            data-selected="false"
                            class="category-button data-[selected=true]:text-red ease-bounce group relative border-2 border-current px-20 py-10 text-[1.6rem] leading-19 font-bold text-black uppercase transition-all duration-300 data-[selected=true]:-rotate-5"
                        >
                            {category}
                            <Mark class="top-[-10%] left-[-15%] -z-1 h-[120%] w-[130%]" />
                        </button>
                    ))
            }
        </div>
        <div class="relative mt-30 flex h-39 w-full max-w-400 md:hidden">
            <select
                name="categories"
                class="h-39 w-full appearance-none border-2 border-black px-12 text-center text-[1.6rem] font-bold uppercase"
            >
                <option value="">Tout</option>
                {
                    categories.length > 0 &&
                        categories.map((category) => <option value={category}>{category}</option>)
                }
            </select>
            <Icon
                name="chevron-down"
                class="pointer-events-none absolute top-10 right-12 size-20"
            />
        </div>
    </div>

    {
        projets && projets.length > 0 && (
            <div class="xs:gap-y-10 mx-auto mt-30 flex flex-wrap gap-y-30 md:mt-90">
                {projets.map((project: any, index) => (
                    <div
                        data-hide={index >= 8}
                        data-offset={index % 2 === 1}
                        data-category={project.content?.categorie}
                        class="project px-gutter xs:w-1/2 xs:data-[offset=true]:mt-50 w-full data-[hide=true]:hidden md:w-3/12"
                    >
                        <ProjetCard project={project} />
                    </div>
                ))}
            </div>
        )
    }

    <div
        id="load-more-container"
        class="mt-50 flex w-full justify-center data-[hide=true]:hidden"
        data-hide={projets.length <= 8}
    >
        <button
            id="load-more"
            class="hover:before:ease-bounce relative px-30 py-18 text-[1.8rem] leading-22 font-semibold text-white uppercase before:absolute before:inset-0 before:-z-1 before:bg-black before:transition-transform before:duration-100 before:ease-in-out hover:before:scale-110 hover:before:duration-300"
        >
            Charger plus
        </button>
    </div>
</div>

<script>
    const container = document.querySelector("#projets");
    let projects: NodeListOf<HTMLElement> | null = null;
    let loadMoreButton: HTMLElement | null = null;
    let loadMoreContainer: HTMLElement | null = null;
    let categoryButtons: NodeListOf<HTMLElement> | null = null;

    let projectsToLoad = 8;

    let currentCategory = "all";

    const updateProjectsVisibility = () => {
        let indexOfInCategoryProject = 0;

        projects?.forEach((project, index) => {
            const isInVisibleCategory =
                project.dataset.category === currentCategory || currentCategory === "all";

            const isInVisibleRange = indexOfInCategoryProject < projectsToLoad;

            project.dataset.hide = isInVisibleCategory && isInVisibleRange ? "false" : "true";

            if (isInVisibleCategory) indexOfInCategoryProject++;
        });

        // Update visibility
        const currentlyVisibleProjects = Array.from(projects || []).filter(
            (project) => project.dataset.hide === "false",
        );

        // Update stagger offsets
        currentlyVisibleProjects.forEach((project, index) => {
            project.dataset.offset = index % 2 === 1 ? "true" : "false";
        });

        // update load more button visibility
        loadMoreContainer?.setAttribute(
            "data-hide",
            currentlyVisibleProjects.length >= indexOfInCategoryProject ? "true" : "false",
        );
    };

    const loadMore = () => {
        projectsToLoad += 4;
        updateProjectsVisibility();
    };

    const updateCategory = (button: HTMLElement) => {
        const category = button.dataset.category || "all";

        categoryButtons?.forEach((btn) => {
            if (btn === button) {
                btn.setAttribute("data-selected", "true");
            } else {
                btn.setAttribute("data-selected", "false");
            }
        });

        currentCategory = category;
        projectsToLoad = 8;

        updateProjectsVisibility();
    };

    const init = async () => {
        if (!container) return;
        projects = container.querySelectorAll(".project");
        loadMoreButton = container.querySelector("button#load-more");
        loadMoreContainer = container.querySelector("#load-more-container");
        categoryButtons = container.querySelectorAll(".category-button");

        loadMoreButton?.addEventListener("click", () => {
            loadMore();
        });

        categoryButtons?.forEach((button) => {
            button.addEventListener("click", () => {
                updateCategory(button);
            });
        });
    };

    init();
</script>
