---
import type { SbBlokData } from "@storyblok/astro";
import ProjetCard from "./ProjetCard.astro";

import { Icon } from "astro-icon/components";

const { blok } = Astro.props;

const projets = [
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
    ...blok.projets,
];

const categories = Array.from(new Set(projets.map((project: any) => project.content?.categorie)));
---

<div class="container-main pt-90 pb-110 md:pt-110 md:pb-210">
    <div class="px-gutter mx-auto flex w-full flex-col items-center md:w-10/12">
        {
            blok.titre_projets && (
                <h2 class="font-lato text-center text-[3.8rem] leading-46 font-bold md:text-[5.4rem] md:leading-65">
                    {blok.titre_projets}
                </h2>
            )
        }
        {
            blok.sous_titre_projets && (
                <p class="font-schoolbell -rotate-2 text-center text-[3.4rem] leading-37 md:text-[4.4rem] md:leading-61">
                    {blok.sous_titre_projets}
                </p>
            )
        }
        <div class="mt-50 hidden gap-20 md:flex">
            <button
                class="border-2 border-black px-20 py-10 text-[1.6rem] leading-19 font-bold uppercase"
                >Tout</button
            >
            {
                categories.length > 0 &&
                    categories.map((category) => (
                        <button class="border-2 border-black px-20 py-10 text-[1.6rem] leading-19 font-bold uppercase">
                            {category}
                        </button>
                    ))
            }
        </div>
        <div class="relative mt-30 flex h-39 w-full max-w-400 md:hidden">
            <select
                name="categories"
                class="h-39 w-full appearance-none border-2 border-black px-12 text-center text-[1.6rem] font-bold uppercase"
            >
                <option value="">Tout</option>
                {
                    categories.length > 0 &&
                        categories.map((category) => <option value={category}>{category}</option>)
                }
            </select>
            <Icon
                name="chevron-down"
                class="pointer-events-none absolute top-10 right-12 size-20"
            />
        </div>
    </div>

    {
        projets && projets.length > 0 && (
            <div class="xs:gap-y-10 mx-auto mt-30 flex flex-wrap gap-y-30 md:mt-90">
                {projets.map((project: SbBlokData) => (
                    <div class="px-gutter xs:w-1/2 xs:even:mt-50 w-full md:w-3/12">
                        <ProjetCard project={project} />
                    </div>
                ))}
            </div>
        )
    }

    <div class="mt-50 flex w-full justify-center">
        <button
            class="bg-black px-30 py-18 text-[1.8rem] leading-22 font-semibold text-white uppercase"
            >Charger plus</button
        >
    </div>
</div>
